# Data Engineering with Python

Python Tutorial Tasks from the book Data Engineering with Python

In [17]:
# install packages
!pip3 install faker
!pip3 install pandas

Requirement already satisfied: faker in d:\anaconda\envs\data_engineer\lib\site-packages (8.8.1)
Requirement already satisfied: text-unidecode==1.3 in d:\anaconda\envs\data_engineer\lib\site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in d:\anaconda\envs\data_engineer\lib\site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\envs\data_engineer\lib\site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Collecting pandas
  Using cached pandas-1.2.4-cp38-cp38-win_amd64.whl (9.3 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\envs\data_engineer\lib\site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.3-cp38-cp38-win_amd64.whl (13.7 MB)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six>=1.5 in d:\anaconda\envs\data_engineer\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.3 pandas-1.2.4 pytz-2021.1

In [96]:
#imports

from faker import Faker #fake data
import csv #write, read csv files
import pandas as pd #dataframes
import json #json
import pandas.io.json as pd_JSON #for json

In [16]:
#create a csv filw with 1000 lines of fake data for 'name','age','street','city','state','zip','lng','lat'

with open('data.csv', 'w') as file:
    fake=Faker()
    header=['name','age','street','city','state','zip','lng','lat']
    mywriter=csv.writer(file)
    mywriter.writerow(header)
    for r in range(1000):
        mywriter.writerow([fake.name(),fake.random_int(min=18,max=80,step=1),
                           fake.street_address(), fake.city(),fake.state(),fake.zipcode(),fake.longitude(),fake.latitude()])
        output.close()

In [21]:
#read data.csv with pandas

df=pd.read_csv('data.CSV')
df.head(10)

,name,age,street,city,state,zip,lng,lat
0,Susan Burns,72,092 Mckenzie Corners,Maysport,Mississippi,84674,-105.664197,-12.584788
1,Jonathan Obrien,41,73459 Conley Estate Suite 598,Lake Sean,Texas,57309,-20.605746,79.979062
2,Daniel Howard,33,85074 James Mountain,Laurenfurt,Illinois,77714,76.868764,78.721298
3,Kelli Mccarthy,33,0919 Mcintyre Ways,Randyhaven,Minnesota,20868,-25.195507,-20.566312
4,Brittney Cain,30,704 Sims Mews,Monicastad,Kentucky,95930,172.019505,-43.369373
5,Karina Keller,80,538 Rebekah Forks Apt. 381,Johnport,Delaware,7666,-94.523530,-19.171090
6,Danielle Simpson,80,631 Collins Ramp,Port Davidtown,Arizona,70260,-87.031903,-78.321061
7,Edward Mendoza,50,511 Bennett Coves Apt. 392,Lake Jaimetown,Oklahoma,44785,10.344696,11.673296
8,Samuel Foster MD,24,97076 Audrey Streets Suite 470,Shannonport,Maryland,33803,125.665114,-57.088138
9,Michael Harrington,37,602 Torres Tunnel Apt. 459,Oliviamouth,Utah,92685,130.245758,-72.902199

In [90]:
#write json with the fake data

output=open('data.JSON','w')
fake=Faker()

alldata={}
alldata['records']=[]

for x in range(100):
    data={"name":fake.name(),"age":fake.random_int
            (min=18, max=80, step=1),
            "street":fake.street_address(),
            "city":fake.city(),"state":fake.state(),
            "zip":fake.zipcode(),
            "lng":float(fake.longitude()),
            "lat":float(fake.latitude())}
    alldata['records'].append(data)
    #display(alldata)

In [91]:
#write to json file
json.dump(alldata,output, indent=4, sort_keys=True)

In [94]:
with open("data.JSON","r") as f:
    data=json.load(f)

In [93]:
str(alldata['records']).find(' ')

9

In [95]:
df=pd.read_json('data.JSON')

In [97]:
f=open('data.JSON','r')
data=pd_JSON.loads(f.read())

In [99]:
df=pd_JSON.json_normalize(data,record_path='records')

<ipython-input-99-a64d0f77fb39>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df=pd_JSON.json_normalize(data,record_path='records')

In [100]:
df.head(2).to_json()

'{"age":{"0":28,"1":78},"city":{"0":"East Brandonhaven","1":"Lake Adrian"},"lat":{"0":-2.34682,"1":89.988444},"lng":{"0":18.985955,"1":117.615465},"name":{"0":"Chad Baxter","1":"Cheryl Bruce"},"state":{"0":"Florida","1":"Wisconsin"},"street":{"0":"683 Sims Junction Apt. 126","1":"61260 Cooper Locks Apt. 248"},"zip":{"0":"70644","1":"17457"}}'

In [102]:
df.head(2).to_json(orient='records')

'[{"age":28,"city":"East Brandonhaven","lat":-2.34682,"lng":18.985955,"name":"Chad Baxter","state":"Florida","street":"683 Sims Junction Apt. 126","zip":"70644"},{"age":78,"city":"Lake Adrian","lat":89.988444,"lng":117.615465,"name":"Cheryl Bruce","state":"Wisconsin","street":"61260 Cooper Locks Apt. 248","zip":"17457"}]'

In [104]:
from datetime import date
str()

datetime.date(2021, 6, 22)